/* ERIC'S DEMO */
/* .italicize {
	transform: skew(-45deg);
}

#paragraph-counter {
	position: fixed;
	background-color: white;
	padding: 24px;
	inset-inline-start: 24px;
	inset-block-start: 24px;
} */

:root {
	--space: 1rem;
	--color-text: black;
	--color-note: #FFE992;
	--color-highlight: red;
}

body {
	padding: var(--space);
	min-inline-size: 10rem;
}

main {
	display: grid;
}

button {
	inline-size: 100%;
	padding: 0.75rem 1rem;
	border: 1px solid #ccc;
	border-radius: 0.25rem;
	background: white;
	cursor: pointer;
	color: var(--color-text);

	&:hover {
		background-color: #f5f5f5;
	}
}