/* ERIC'S DEMO */
/* .italicize {
	transform: skew(-45deg);
}

#paragraph-counter {
	position: fixed;
	background-color: white;
	padding: 24px;
	inset-inline-start: 24px;
	inset-block-start: 24px;
} */

:root {
	--space-sm: 0.75rem;
	--space-md: 1rem;

	--color-text: black;
	--color-note: #ffe992;
	--color-surface: white;
	--color-surface-hover: #f5f5f5;
	--color-border: #ccc;

	--radius-sm: 0.25rem;
}

body {
	padding: var(--space-md);
	min-inline-size: 10rem;
}

main {
	display: flex;
	flex-direction: column;
	gap: var(--space-md);
}

button {
	inline-size: 100%;
	padding-block: var(--space-sm);
	padding-inline: var(--space-md);
	border-style: solid;
	border-width: 1px;
	border-color: var(--color-border);
	border-radius: var(--radius-sm);
	background-color: var(--color-surface);
	cursor: pointer;
	color: var(--color-text);
	text-align: center;

	&:hover {
		background-color: var(--color-surface-hover);
	}
}